<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CSG</title>
  </head>
  <body>
    {% extends 'templates.html' %} {% block content %}

    <h1>This is Home Page</h1>
    <div>
      주린이를 위한
      <br />
      &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 주식 투자 가이드
    </div>
    <div>
      <button type="button" class="btn btn-outline-primary">Primary</button>
      <button type="button" class="btn btn-outline-secondary">Secondary</button>
      <button type="button" class="btn btn-outline-success">Success</button>
      <button type="button" class="btn btn-outline-danger">Danger</button>
      <button type="button" class="btn btn-outline-warning">Warning</button>
      <button type="button" class="btn btn-outline-info">Info</button>
      <button type="button" class="btn btn-outline-dark">Dark</button>
    </div>
    {% endblock %}
  </body>
</html>
