<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>stock</title>
  </head>
  <body>
    {% extends 'templates.html' %} {% block content %}
    <!--
    <h2>{{ stock_info.companyName }}</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Last Price</th>
          <th scope="col">Open Price</th>
          <th scope="col">Close Price</th>
          <th scope="col">High</th>
          <th scope="col">Low</th>
          <th scope="col">Volume</th>
          <th scope="col">52Week High</th>
          <th scope="col">52Week Low</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>${{ stock_info.latestPrice }}</td>
          <td>${{ stock_info.open }}</td>
          <td>@${{ stock_info.close }}</td>
          <td>${{ stock_info.high }}</td>
          <td>${{ stock_info.low }}</td>
          <td>{{ stock_info.latestVolume }}</td>
          <td>${{ stock_info.week52High }}</td>
          <td>${{ stock_info.week52Low }}</td>
        </tr>
      </tbody>
    </table>

    <br /><br />
    -->
    <h2>국내 주식</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">&#8361;</th>
          <th scope="col">Last Price</th>
          <th scope="col">Open Price</th>
          <th scope="col">Close Price</th>
          <th scope="col">High</th>
          <th scope="col">Low</th>
          <th scope="col">Volume</th>
          <th scope="col">52Week High</th>
          <th scope="col">52Week Low</th>
        </tr>
      </thead>
      <tbody>
        {% for stock in stoc.all %}
        <tr>
          <td>{{ stock.Name }}</td>
          <td>{{ stock.Current_Price }}</td>
          <td>{{ stock.Start_Price }}</td>
          <td>{{ stock.Prev_Price }}</td>
          <td>{{ stock.High_Price }}</td>
          <td>{{ stock.Low_Price }}</td>
          <td>{{ stock.Trade_Volume }}</td>
          <td>{{ stock.Week_52_High }}</td>
          <td>{{ stock.Week_52_Low }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endblock %}
  </body>
</html>
