<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>b_board detail</title>
  </head>

  <body>
    {% extends 'templates.html' %} {% block content %}
    <h1>This is b_board detail page</h1>
    <div>
      <h2>{{post.title}}</h2>
      <p>{{post.created_date}}</p>
      <p>{{post.text}}</p>
      {% if post.author == user %}
      <a href="{% url 'edit' post.id %}">edit</a>
      <a href="{% url 'delete' post.id %}">delete</a>
      {% endif %}
      <br />
      <br />
    </div>
  </body>

  <h5>Comments</h5>
  <br />
  {% for comment in post.comment_set.all %}
  <h4>{{comment.content}}</h4>
  <pre><p>작성자 : {{comment.author}} 작성일자: {{comment.created_date}}</p>
  {% if comment.author == user %}
  <a href="{% url 'comment_delete' comment.pk %}">Comment Delete</a>
  {% endif %}</pre>
  {% endfor %} {% if user.is_active %}
  <form action="{% url 'comment_new' post.pk %}" method="POST">
    {% csrf_token %} {{commentForm}}
    <input type="submit" />
  </form>
  {% endif %} {% endblock %}
</html>
