<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   
    <title>b_board detail</title>
  </head>

  <body>
    <h1>This is b_board detail page</h1>
        <div>
            <h2>{{post.title}}</h2>
            <p>{{post.created_date}}</p>
            <p>{{post.text}}</p>
            <a href = "{% url 'home' %}">home</a>
            <a href = "{% url 'edit' post.id %}">edit</a>
            <a href = "{% url 'delete' post.id %}">delete</a>
        </div>
  </body>
</html>
